#Django==4.2
Django==4.2.20
outbox-encryption==1.1.6
django-allauth==65.7.0
django-recaptcha==4.1.0
django-multiselectfield==0.1.13
django-parler==2.3
django-crispy-forms==2.4
crispy-bootstrap4==2024.10
django-ckeditor-5==0.2.17
django-mobile-detect==0.1
django_money==3.5.4
authbox_menu==1.0.0
django_outbox_region==1.0.2
django_outbox_hitcount==1.1.1
mysqlclient==2.2.0
shortuuid==1.0.13
django-cryptography==1.1
beautifulsoup4==4.13.4
jsonfield==3.1.0
django-uuslug==2.0.0
PyJWT==2.9.0
django_ckeditor==6.7.2
sendgrid==6.12.0
six==1.17.0
google-auth-oauthlib==1.2.2
google_api_python_client==2.169.0
midtransclient==1.4.2
django-debug-toolbar==4.4.6
django-docs==0.3.3
python-dateutil==2.9.0.post0

